<ul class="nav nav-tabs">
    <li role="presentation"><a href="#">待处理<span class="badge">4111</span></a></li>
    <li role="presentation" class="active"><a href="#">正在出票  <span class="badge">4111</span></a></li>
</ul>

<table class="table table-hover" style="margin-bottom: 0px;">
    <caption>
        <div class="pull-right">
            <button type="button" class="btn btn-primary">开始接单</button>
        </div>
    </caption>
    <thead>
        <tr>
            <th>系统/12308/源站订单号</th>
            <th>创建/下单/出发时间</th>
            <th>车次号/行程</th>
            <th>源站信息</th>
            <th>订票数</th>
            <th>金额</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                2016050673951140<br /> 90160506143755400370 <br /> 1605060000000924490
            </td>
            <td>
                2016-05-06 14:37:55<br /> 2016-05-06 14:38:27<br /> 2016-05-07 11:40:00
            </td>
            <td>
                814<br /> 重庆主城 - 文山<br /> 重庆汽车站 - 文山
            </td>
            <td>
                重庆客运 <br /> 497210009@qq.com <br /> 123456
            </td>
            <td>
                <br /> 1张
            </td>
            <td>
                <br />
                <span class="glyphicon glyphicon-jpy price">432.0</span>
            </td>
            <td>
                <br />
                <span class="text-success">出票成功</span>
            </td>
            <td>
                <button type="button" class="btn btn-warning">立即支付</button><br />
                <a href="#">转移</a>
            </td>
        </tr>
    </tbody>
</table>
