<ul class="nav nav-tabs">
    <li role="presentation" class="{%if tab=='dealing'%}active{%endif%}"><a href="/orders/my?tab=dealing">待处理 <span class="badge"> {{dealing_count}}</span></a></li>
    <li role="presentation" class="{%if tab=='dealed'%}active{%endif%}"><a href="/orders/my?tab=dealed">正在出票 <span class="badge"> {{dealed_count}}</span></a></li>
</ul>

<table class="table table-hover" style="margin-bottom: 0px;">
    <caption>
        <div class="pull-right">
            <button type="button" class="btn btn-primary">开始接单</button>
        </div>
    </caption>
    <thead>
        <tr>
            <th>系统/12308/源站订单号</th>
            <th>创建/下单/出发时间</th>
            <th>车次号/行程</th>
            <th>源站信息</th>
            <th>订票数</th>
            <th>金额</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        {%for item in page["items"]%}
        <tr>
            <td>{{item.order_no}}</br>{{item.out_order_no}}</br>{{item.raw_order_no|cut_str}}</td>
            <td>{{item.create_date_time|format_datetime}}</br>{{item.lock_datetime|format_datetime}}</br>{{item.drv_datetime|format_datetime}}</td>
            <td>{{item.bus_num}}<br>{{item.starting_name.split(';')[0]}} - {{item.destination_name.split(';')[0]}}</br>{{item.starting_name.split(';')[1]}} - {{item.destination_name.split(';')[1]}}</td>
            <td>{{source_info[item.crawl_source]["name"]}}<br>{{item.source_account}}</br>{{item.source_account_pass}}</td>
            <td>{{item.riders|count}}张</td>
            <td>
                <br />
                <span class="glyphicon glyphicon-jpy price">{{item.order_price}}</span>
            </td>
            <td>
                <br />
                <span class="{%if item.status==14%}text-success{%else%}text-danger{%endif%}">{{status_msg[item.status]}}</span>
            </td>
            <td>
                <button type="button" class="btn btn-warning">立即支付</button><br />
                <a href="#">转移</a>
            </td>
            {%endfor%}
        </tr>
    </tbody>
</table>
