<!DOCTYPE html>
{% extends 'dashboard/base.html'%}
{% block style %}
<style type="text/css">
    .query-form .col-md-1, .query-form .col-md-4, .query-form .col-md-3{
        padding-left: 2px;
        padding-right: 6px;
    }
    table caption .pull-right span{
        padding-right: 20px;
    }
    .panel{
        margin-top: 0px;
        margin-bottom:0px;
    }
    .price{
        color: #f60;
        font-size:16px;
        font-family: Verdana,Geneva,sans-serif;
    }
    .table{
        margin-bottom: 0px;
    }
</style>
{%endblock%}

{%block body%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li class="active">所有线路</li>
                </ul>
            </div>
        </div>

        <!--
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">所有线路</a></li>
        </ul>
        -->

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="query-form" class="form-horizontal" action="/lines" method="POST">
                    <input type="hidden" name="page" id="id-page" value="1"/>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="sourceSite" class="sr-only">线路ID</label>
                            <input type="text" class="form-control" id="" placeholder="线路ID" name="line_id" value="{{condition.line_id}}">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="sourceSite" class="sr-only">源站</label>
                            <select class="form-control" name="crawl_source">
                                <option value="">选择源站</option>
                                {%for s in sites%}
                                <option value="{{s}}" {%if s==condition.crawl_source%}selected{%endif%}>{{source_info[s]["name"]}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="sourceSite" class="sr-only">出发城市</label>
                            <input type="text" class="form-control" id="" placeholder="出发城市" name="starting" value="{{condition.starting}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="sourceSite" class="sr-only">到达城市</label>
                            <input type="text" class="form-control" id="" placeholder="到达城市" name="destination" value="{{condition.destination}}">
                        </div>
                        <div class="form-group  col-md-2" style="padding-left: 0px; padding-right: 5px;">
                            <label for="sourceSite" class="sr-only">起始日期</label>
                            <div class="input-group date form_datetime" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="16" type="text" value="{{condition.drv_date}}" readonly name="drv_date">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="col-md-offset-1 col-md-1">
                            <button type="submit" class="btn btn-primary">查&nbsp;&nbsp;询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <table class="table table-hover table-bordered" style="margin-bottom: 0px;">
            <caption>
                <div class="pull-right">
                    <span>记录数：<label class="text-danger">{{page["total"]}}条</label></span>
                </div>
            </caption>
            <thead>
                <tr>
                    <th>线路id</th>
                    <th>出发省/城市/站</th>
                    <th>目的城市/站</th>
                    <th>开车日期/时间</th>
                    <th>车次号/车型</th>
                    <th>票价/服务费</th>
                    <th>来源/余票</th>
                    <th>爬取时间/刷新时间</th>
                </tr>
            </thead>

            <tbody>
                {%for item in page["items"]%}
                <tr>
                    <td>
                        <br/>
                        {{item.line_id}}<br /> 
                    </td>
                    <td>
                        {{item.s_province}}<br /> {{item.s_city_name}}<br /> {{item.s_sta_name}}
                    </td>
                    <td>
                        {{item.d_city_name}}<br /> <br />{{item.d_sta_name}}
                    </td>
                    <td>
                        {{item.drv_date}}<br /> <br />{{item.drv_time}}
                    </td>
                    <td>
                        {{item.bus_num}} <br /><br /> {{item.vehicle_type}}
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-jpy price">{{item.full_price}}</span><br /><br />
                        <span class="glyphicon glyphicon-jpy price">{{item.fee}}</span>
                    </td>
                    <td>
                        {{source_info[item.crawl_source]["name"]}}<br /><br /> 余{{item.left_tickets}}
                    </td>
                    <td>
                        {{item.crawl_datetime|format_datetime}}<br /><br /> {{item.refresh_datetime|format_datetime}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        <nav style="text-align: center">
            <ul class="pagination">
                <li>
                    <a href="javascript:search('{{page.previous}}')" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {%if page.range and page.range[0] > 1%}
                <li><a href="javascript:search('1')">1</a></li>
                <li><a href="javascript:;">...</a></li>
                {%endif%}
                {%for i in page.range %}
                <li class="{%if page.cur_page==i %}active{%endif%}"><a href="javascript:search('{{i}}')">{{i}}</a></li>
                {%endfor%}
                {%if page.range and page.range[-1] < page.page_count %}
                    <li><a href="javascript:;">...</a></li>
                    <li><a href="javascript:search('{{page.page_count}}')">{{page.page_count}}</a></li>
                {%endif%}
                <li>
                    <a href="javascript:search('{{page.next}}')" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language: "zh-CN",
        minView: 2,
    });
    function search(page){
        $("#id-page").val(page);
        $(".query-form").submit();
    };
</script>
{%endblock%}
