<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.container {
				width: 90%;
				margin-top: 10px;
			}

            tr td:first-child{
                white-space: nowrap;
            }
            td,th{
                border-top: 0px;
            }
		</style>
	</head>

	<body>
        <div style="padding: 10px;">
            <table class="table table-condensed">
               <tbody>
                   {%for trace in order.trace_list%}
                   <tr><td>{{trace.create_datetime|format_datetime}}</td><td>【{{trace.trace_type_msg}}】 {{trace.desc}}</td></tr>
                   {%endfor%}
               </tbody>
            </table>
        </div>
	</body>
</html>
