<!DOCTYPE html>
{% extends 'dashboard/base.html'%}

{% block style %}
<style type="text/css">
    .query-form .col-md-1, .query-form .col-md-4, .query-form .col-md-3{
        padding-left: 2px;
        padding-right: 6px;
    }
    table caption .pull-right span{
        padding-right: 20px;
    }
    .price{
        color: #f60;
        font-size:16px;
        font-family: Verdana,Geneva,sans-serif;
    }
    .table{
        margin-bottom: 0px;
    }
</style>
{%endblock%}

{%block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">所有订单</li>
            </ul>
        </div>
    </div>

    <ul class="nav nav-tabs">
        {% for i in ["0", "4", "7", "5", "3", "12", "14", "13", "6"]%}
        <li role="presentation" class="{%if condition.status==i %}active{%endif%}"><a href="javascript:search('1', '{{i}}')">{{status_msg[i]}} <span class="badge">{{status_count[i]}}</span></a></li>
        {%endfor%}
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="query-form" class="form-horizontal" method="POST">
                <input type="hidden" name="status" id="id-status" value="0"/>
                <input type="hidden" name="page" id="id-page" value="1"/>
                <div class="row">
                    <div class="form-group col-md-1">
                        <label for="sourceSite" class="sr-only">源站</label>
                        <select class="form-control" name="source" id="id-site">
                            <option value="">选择源站</option>
                            {%for k,v in site_count.items()%}
                            <option value="{{k}}" {%if condition.source==k %}selected{% endif %}>{{source_info[k]["name"]}}{%if site_count[k]%}({{site_count[k]}}){%endif%}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="sourceSite" class="sr-only">源站账号</label>
                        <select class="form-control" id="id-account" name="source_account">
                            <option value="">源站账号</option>
                            {%if condition.source%}
                            {% for u,t in source_info[condition.source]["accounts"].items() %}
                            <option value="{{u}}" {%if condition.source_account==u %} selected {%endif%}>{{u}}{%if account_count[u]%}({{account_count[u]}}){%endif%}</option>
                            {% endfor %}
                            {%endif%}
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="sourceSite" class="sr-only">操作人员</label>
                        <select class="form-control" id="id-kefu" name="kefu_name">
                        <option value="">操作人员</option>
                        {%for k,v in kefu_count.items()%}
                        <option value="{{k}}" {%if condition.kefu_name==k%} selected {%endif%}>{{k}}({{v}})</option>
                        {%endfor%}
                    </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="sourceSite" class="sr-only">支付状态</label>
                        <select class="form-control" name="pay_status">
                        <option value="">支付状态</option>
                        {% for k,v in pay_status_msg.items() %}
                        <option value="{{k}}" {%if condition.pay_status==k|string%} selected {%endif%}>{{v}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="sourceSite" class="sr-only">异常状态</label>
                        <select class="form-control" name="yc_status">
                            <option value="">异常状态</option>
                            {% for k,v in yc_status_msg.items() %}
                            <option value="{{k}}" {%if condition.yc_status==k|string%} selected {%endif%}>{{v}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="sourceSite" class="sr-only">支付账号</label>
                        <select class="form-control" name="pay_account">
                        <option value="">支付账号</option>
                        {% for k in pay_account_list %}
                        <option value="{{k}}" {%if condition.pay_account==k%} selected {%endif%}>{{k}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group  col-md-2" style="padding-left: 6px; padding-right: 5px;">
                        <label for="sourceSite" class="sr-only">起始日期</label>
                        <div class="input-group date form_datetime" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="{{condition.str_date}}" readonly name="str_date">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <p class="form-group col-md-1" style="width: 20px;padding: 7px 0px;">至</p>
                    <div class="form-group  col-md-2" style="padding-left: 0px; padding-right: 5px;">
                        <label for="sourceSite" class="sr-only">起始日期</label>
                        <div class="input-group date form_datetime" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="{{condition.end_date}}" readonly name="end_date">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <input type="hidden" name="q_key" value="{{condition.q_key}}" id="id-q-key"/>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="id-q-zh">搜索条件</span> <span class="caret"></span></button>
                                <ul class="dropdown-menu" id="id-q-menu">
                                    <li><a href="#" name="">搜索条件</a></li>
                                    <li><a href="#" name="sys_order_no">系统订单号</a></li>
                                    <li><a href="#" name="out_order_no">12308订单号</a></li>
                                    <li><a href="#" name="raw_order_no">源站订单号</a></li>
                                    <li><a href="#" name="pay_order_no">支付订单号</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" name="contact_phone">联系人手机</a></li>
                                    <li><a href="#" name="contact_name">联系人姓名</a></li>
                                    <li><a href="#" name="contact_idcard">联系人身份证号</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" name="trade_no">交易流水号</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" aria-label="..." name="q_value" value="{{condition.q_value}}"/>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-1">
                        <button type="submit" name="action" value="查询" class="btn btn-primary">查&nbsp;&nbsp;询</button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-warning" name="action" value="导出CSV">导出CSV</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <caption>
            <div class="pull-right">
                <span>订单总数：<label class="text-danger">{{status_count["0"]}}个</label></span>
                <span>出票张数：<label class="text-danger">{{stat.ticket_total|int}} 张</label> </span>
                <span>总金额：<label class="text-danger">{{stat.money_total}}</label></span>
            </div>
        </caption>
        <thead>
            <tr>
                <th>系统/12308/源站订单号</th>
                <th>下单人信息</th>
                <th>创建/下单/出发时间</th>
                <th>车次号/行程</th>
                <th>源站信息</th>
                <th>处理人/支付账号/支付金额</th>
                <th>订票数/订单金额</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            {% for item in page["items"]%}
            <tr>
                <td><a href="/orders/{{item.order_no}}" target="_blank">{{item.order_no}}</a></br>{{item.out_order_no}}</br>{{item.raw_order_no|cut_str}}</td>
                <td>{{item.contact_info["name"]}}<br />{{item.contact_info["telephone"]}}</br>{{item.contact_info["id_number"]}}</td>
                <td style="white-space: nowrap;">{{item.create_date_time|format_datetime}}</br>{{item.lock_datetime|format_datetime}}</br>{{item.drv_datetime|format_datetime}}</td>
                <td>{{item.bus_num}}<br>{{item.starting_name.split(';')[0]}} - {{item.destination_name.split(';')[0]}}</br>{{item.starting_name.split(';')[1]}} - {{item.destination_name.split(';')[1]}}</td>
                <td>{{source_info[item.crawl_source]["name"]}}<br>{{item.source_account}}</br>{{item.source_account_pass}}</td>
                <td>{{item.kefu_username}}<br/>{{item.pay_account}}<br/>{{item.pay_money}}</td>
                <td>
                    {{item.riders|count}}张
                    <br /><br/>
                    <span class="glyphicon glyphicon-jpy price">{{item.order_price}}</span>
                </td>
                <td>
                    <br />
                    <span class="{%if item.status==14%}text-success{%else%}text-danger{%endif%}">{{status_msg[item.status|string]}}</span>
                </td>
                <td>
                    <a data-trigger="modal" href="/orders/{{item.order_no}}/traces" data-title="订单追踪列表" class="btn" style="padding:0px;">追踪</a><br/>
                    {%if item.yc_status != 1%}
                    <a data-trigger="modal" href="/orders/{{item.order_no}}/yichang?action=set" data-title="设置异常">设为异常</a>
                    {%else%}
                    <a data-trigger="modal" href="/orders/{{item.order_no}}/yichang?action=del" data-title="解除异常">解除异常</a>
                    {%endif%}
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <nav style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="javascript:search('{{page.previous}}', '{{condition.status}}')" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {%if page.range and page.range[0] > 1%}
            <li><a href="javascript:search('1', '{{condition.status}}')">1</a></li>
            <li><a href="javascript:;">...</a></li>
            {%endif%}
            {%for i in page.range %}
            <li class="{%if page.cur_page==i %}active{%endif%}"><a href="javascript:search('{{i}}', '{{condition.status}}')">{{i}}</a></li>
            {%endfor%}
            {%if page.range and page.range[-1] < page.page_count %}
                <li><a href="javascript:;">...</a></li>
                <li><a href="javascript:search('{{page.page_count}}', '{{condition.status}}')">{{page.page_count}}</a></li>
            {%endif%}
            <li>
                <a href="javascript:search('{{page.next}}', '{{condition.status}}')" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{%endblock%}


{% block script_footer %}
<script type="text/javascript">
    $(document).ready(function(){
        var ename=$("#id-q-key").val();
        if(ename){
            var zname=$("#id-q-menu a[name='"+ename+"']").text();
            $("#id-q-zh").text(zname);
        }
    });

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language: "zh-CN"
    });

   $("#id-site").change(function(){
        var v = $(this).val();
        var s = "<option value=''>源站账号</option>"
        if(v=="选择源站"||v==""){
            $("#id-account").html(s);
            return;
        }
        $.ajax({
            cache: false,
            type: "get",
            url:"/ajax/query?type=account&site="+v,
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(r) {
                for(i=0;i<r.data.length;i++){
                    s+="<option value="+r.data[i]+">"+r.data[i]+"</option>";
                }
                $("#id-account").html(s);
            }
        });
   });

    $("#id-q-menu li a").click(function(){
            var zh_name=$(this).text();
            var en_name=$(this).attr("name");
            $("#id-q-key").val(en_name);
            $("#id-q-zh").text(zh_name);
    });

    function search(page, stus){
        $("#id-page").val(page);
        $("#id-status").val(stus);
        $(".query-form").submit();
    };
</script>
{%endblock%}
