<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.container {
				width: 90%;
				margin-top: 10px;
			}

            tr td:first-child{
                white-space: nowrap;
            }
            td,th{
                border-top: 0px;
            }
		</style>

	</head>

	<body>
        <div id="json"></div>
	</body>
    <script>
        var json = {{open_station.dest_info|tojson|safe}};
        $(function() {
            $("#json").JSONView(json);
        });
    </script>
</html>
