<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.container {
				width: 90%;
				margin-top: 10px;
			}

            tr td:first-child{
                white-space: nowrap;
            }
            td,th{
                border-top: 0px;
            }
		</style>

	</head>

	<body>
        <div style="padding: 10px;">
            <table class="table table-condensed">
               <tbody>
                   {%for k,v in open_station.day_order_count.items()%}
                   <tr><td>k</td><td>{{v["total"]}}, {{v["fail"]}}</td></tr>
                   {%endfor%}
               </tbody>
            </table>
        </div>
	</body>
    <script>
    </script>
</html>
