Flask==0.10.1
Flask-Mail==0.9.1
Flask-Script==2.0.5
Jinja2==2.8
Pillow==2.3.0
Scrapy==1.0.3
pyOpenSSL==0.13
pymongo==3.1.1
requests==2.2.1
simplejson==3.8.1
six==1.5.2
flask-mongoengine==0.7.4
gunicorn==19.4.1
pypinyin==0.9.4
apscheduler==2.1.2
coverage==4.0.3
celery==3.1.19
redis==2.10.5
Flask-Login==0.3.2
