<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户管理</title>
    <link href="{{url_for('static', filename='admin-new/css/style.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='admin-new/css/select.css')}}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='admin-new/js/select-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin-new/js/datepicker/WdatePicker.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin-new/js/layer/layer.js')}}"></script>
    <script language="javascript">
        $(function (){
            layer.config({extend: 'extend/layer.ext.js'});
        });
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
         <ul class="placeul">
            <li><a href="#">账号管理</a></li>
            <li><a href="#">系统用户</a></li>
        </ul>
    </div>

   <form id="search-form" class="" action="{{url_for('admin.all_adminuser')}}" method="post" enctype='multipart/form-data'>
   <!--查询条件-->
    <div class="formbody">
         <div class="itab">
            <ul>
                <li><a href="javascript:search(1,'all');" {% if not condition.tabtype%}class="selected" {% endif %}>全部用户</a></li>
                <li><a href="javascript:search(1,'online');" {% if condition.tabtype=='online' %}class="selected" {% endif %}>正在接单</a></li>
            </ul>
          <input id="id-tabtype" type="hidden" name="tabtype" value="{{condition.tabltype}}" />
          <input id="id-page" type="hidden" name="page" value="{{page.page}}" />
        </div>
   </form>
   
   <div>
    <table class="tablelist">
      <caption>
       <div class="toolbar">
       </div>
        <div class="orderinfo">
          用户数： <label id="order_num_tip">{{stat.total_user}} 个</label>
          </div>
        </caption>
    	<thead>
    	<tr>
        <th><input type="checkbox"  name="test[]" class="chkID" value="1" id="checkall"/></th>
        <th>账号</th>
        <th>支付宝网银</th>
        <th>接单类型</th>
        <th>是否关闭</th>
        <th>创建时间<i class="sort"><img src="{{url_for('static', filename='admin-new/images/px.gif')}}" /></i></th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in page["items"] %}
        <tr>
         <td><input type="checkbox"  name="test[]" class="chkID" value="6"/></td>
         <td>{{d.username}}</td>
         <td>{{yh_names[d.yh_type]}}</td>
         <td>
             {%for t in d.source_include %}
             [{{pay_types[t]}}]
             {%endfor%}
         </td>
         <td>{%if d.is_close %} 是 {%else%} 否 {%endif%}</td>
         <td>{{d.create_datetime|format_datetime}}</td>
         <td><a href="javascript:set_wy('{{d.username}}')" class="tablelink">设置支付宝网银 </br> 
     		 <a href="javascript:set_source('{{d.username}}')" class="tablelink">选择接单类型</a> 
     		 {%if d.is_close %}
     		 	&nbsp;&nbsp;&nbsp;&nbsp;
     		 	<a href="javascript:open_account('{{d.username}}')" class="tablelink">解封账号</a>
     		 {% endif %}	
     		 </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <!--翻页-->
        <div class="pagin">
    	<div class="message">共<i class="blue">{{page.total}}</i>条记录，当前显示第&nbsp;<i class="blue">{{page.page}}&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="javascript:search({{page.previous}}, '{{condition.tabtype}}');"><span class="pagepre"></span></a></li>
        {%if page.old_range and page.old_range[0] > 1%}
        <li class="paginItem"><a href="javascript:search(1, '{{condition.tabtype}}');">1</a></li>
            <li class="paginItem more"><a href="javascript:;">...</a></li>
        {%endif%}
        {%for i in page.old_range %}
            <li class="paginItem {%if i==page.page %} current {% endif %}"><a href="javascript:search({{i}}, '{{condition.tabtype}}');">{{i}}</a></li>
        {% endfor %}
        {%if page.old_range and page.old_range[-1] < page.pageNum%}
            <li class="paginItem more"><a href="javascript:;">...</a></li>
            <li class="paginItem"><a href="javascript:search({{page.pageNum}}, '{{condition.tabtype}}');">{{page.pageNum}}</a></li>
        {%endif%}
        <li class="paginItem"><a href="javascript:search({{page.next}}, '{{condition.tabtype}}');"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
    </div>

    <div id="id-wy"  style="display:none; ">
        <form action="#" method="post" id="id-wy-form">
            <input type="hidden" name="action" value="set_yhtype" />
            <input id="id-username" type="hidden" name="username" value="" />
            &nbsp;&nbsp;
            选择银行：<br /><br/>
            &nbsp;&nbsp;<label><input name="yhtype" type="radio" value="中行" />中国银行</label>
            <label><input name="yhtype" type="radio" value="建行" />建设银行</label>
            <label><input name="yhtype" type="radio" value="平安" />平安银行</label>
            <label><input name="yhtype" type="radio" value="招行" />招商银行</label>
            <label><input name="yhtype" type="radio" value="浦发" />浦发银行</label>
            </br></br>
            <center><input type="button" value="确定修改" onclick="ajax_userconfig('id-wy-form')" /></center>
        </form>
    </div>

    <div id="id-source"  style="display:none; ">
        <form action="#" method="post" id="id-source-form">
            <input type="hidden" name="action" value="set_source" />
            <input id="id-source-username" type="hidden" name="username" value="" />
            选择要处理源站：<br /><br />
            <label style="margin-left:20px"><input name="sourcetype" type="checkbox" value="zfb"/>支付宝支付</label>
            <label style="margin-left:20px"><input name="sourcetype" type="checkbox" value="yl" />银联支付</label>
            <label style="margin-left:20px"><input name="sourcetype" type="checkbox" value="zfb_wy" />支付宝网银</label>
            </br></br>
            <center><input type="button" value="确定修改" onclick="ajax_userconfig('id-source-form')" /></center>
        </form>
    </div>
</body>
<script type="text/javascript">
function search(page, stus){
    $("#id-page").val(page);
    $("#id-tabtype").val(stus);
    $("#search-form").submit();
};

function set_wy(username){
    $("#id-username").val(username);
    layer.open({
    type: 1,
    skin: 'layui-layer-demo', //样式类名
    //closeBtn: 0, //不显示关闭按钮
    shift: 2,
    area: ['420px', '240px'], //宽高
    shadeClose: true, //开启遮罩关闭
    content: $("#id-wy"),
    });
};

function set_source(username){
    $("#id-source-username").val(username);
    layer.open({
    type: 1,
    skin: 'layui-layer-demo', //样式类名
    //closeBtn: 0, //不显示关闭按钮
    shift: 2,
    area: ['420px', '240px'], //宽高
    shadeClose: true, //开启遮罩关闭
    content: $("#id-source"),
    });
};

function ajax_userconfig(formid){
    $.ajax({
        cache: false,
        type: "get",
        url:"/users/config",
        data:$('#'+formid).serialize(),
        async: false,
        error: function(request) {
            alert("Connection error");
        },
        success: function(data) {
            if(data=="success"){
                layer.closeAll();
                layer.msg("修改成功,请刷新页面");
            }else{
                layer.msg("修改失败:"+data);
            }
        }
    });
}


function open_account(username){
		$.ajax({
			url : '/open_account',
			type : 'post',
			data : {
				username : username
			},
			success : function(data){
				if(data.status==0){
	              alert(data.msg);
	              window.location.reload();
			    }else{
         			alert(data.msg);
         			window.location.reload();
                }
		    }
		});
}

</script>
</html>
