<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>车票订单--已完成订单</title>
    <link href="{{url_for('static', filename='admin-new/css/style.css')}}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/jquery.js')}}"></script>
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/layer/layer.js')}}"></script>
    <script>
        $(function () {
            $(window).resize(function (){
                $.fn.ChangeWindow();
            });
            $.fn.ChangeWindow();
        })
        $.fn.extend({
            ChangeWindow: function(){
                $("#mainiframe").find("iframe").css({
                    "height": function () {
                        var _webHeight = $(window).height();//整体高度              
                        return _webHeight;
                    }
                });
            },
        })
    </script>
</head>
<body id="mainiframe">
  <iframe name="mainfm" src="{{url_for('admin.main')}}" width="100%" height="100%" marginwidth="0" frameborder="0" scrolling="no"></iframe>
</body>
</html>
