<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>车票订单--订单详情</title>
    <link href="{{url_for('static', filename='admin-new/css/style.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='admin-new/css/windialog.css')}}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/jquery.js')}}"></script>
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/windialog.js')}}"></script>
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/fnplus.js')}}"></script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
         <ul class="placeul">
            <li><a href="#">所有订单</a></li>
            <li><a href="#">订单详情</a></li>
        </ul>
    </div>

    <div class="formbody">
      <div class="formtitle"><span>基本信息</span></div>
      <!--已对接接口订单详情显示-->
      <!--<div class="torderinfo">
        <em><img alt="订单" src="images/t07.png"></em>
        订单号:<label class="bold">20150607141556172</label><label class="ml15">合作方订单号:<b><a href="#">141556172</a></b></label>
      </div>
      <div class="torderinfo">
        订单状态:<label class="color3">等待付款</label><span class="ml15">所属接口:<label class="color3">深圳接口</label></span><span class="ml15">订单来源:<label class="color3">PC平台</label><a title="获取订单实时状态" class="ml15 ">查看接口</a></span>
      </div>-->
      
      <!--手工代购详情显示-->
       <div class="torderinfo">
         12308订单号:<label class="bold">{{order.out_order_no}}</label>
      </div>
      <div class="torderinfo">
        订单状态:<label class="color4">{{status_msg[order.status]}}</label>
      </div>
      
      
      <div class="h15"></div>
      <!--订单信息-->
      <div>
      <div class="tableh1"><span>订单信息</span></div>
      <table class="tablelist">
        <thead>
          <tr>
            <th>售票来源</th>
            <th>代购订单号</th>
            <th>12308下单时间</th>
            <th>代购下单时间</th>
            <th>取票信息（取票号）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{{source_info[order.crawl_source]['website']}}">{{source_info[order.crawl_source]['name']}}</a><br />              
              {{source_info[order.crawl_source]['website']}} </td>
            <td><span class="bold">{{order.raw_order_no}}</span></td>
              <td>{{order.create_date_time|format_datetime}}</td>
              <td>{{order.lock_datetime|format_datetime}}</td>
              <td>
                {% for s in order.pick_msg_list %}
                {{s}}
                <br />
                {% endfor %}
              </td>
          </tr>
          
        </tbody>
      </table>
      </div>
     <div class="h15"></div>
     <!--车票信息-->
     <div>
     <div class="tableh1"><span>车票信息</span></div>
     <table class="tablelist">
        <thead>
          <tr>
            <th>线路/出发时间</th>
            <th>车次号/行程</th>
            <th>车票单价</th>
            <th>车票张数</th>
            <th>保险费</th>
            <th>服务费</th>
            <th>车票总额</th>
            <th>订单金额</th>
          </tr>
        </thead>
        <tbody>
          <tr class="td_c">
            <td>
              {{d.starting_name.split(';')[0] or d.starting_name.split(';')[1]}} - {{d.destination_name.split(';')[0] or d.destination_name.split(';')[1]}}<br>
              {{order.drv_datetime|format_datetime}}
            </td>
            <td>{{order.bus_num}}<br>
              {{d.starting_name.split(';')[0] or d.starting_name.split(';')[1]}} - {{d.destination_name.split(';')[0] or d.destination_name.split(';')[1]}}<br>
            </td>
            <td>￥{{order.ticket_price}} /张</td>
            <td>{{order.ticket_amount}} 张</td>
            <td>￥0.00</td>
            <td>￥{{order.ticket_fee}}</td>
            <td>￥{{(order.ticket_price+order.ticket_fee)*order.ticket_amount}}</td>
            <td><label class="f14 yellow">￥{{(order.ticket_price+order.ticket_fee)*order.ticket_amount}}</label></td>
          </tr>          
        </tbody>
      </table>
      </div>

     <div class="h15"></div>
     <!--联系人信息-->
     <div>
      <div class="tableh1"><span>联系人信息</span></div>
     <table class="tablelist">
        <thead>
          <tr>
            <th>联系人</th>
            <th>手机号码</th>
            <th>身份证</th>
          </tr>
        </thead>
        <tbody>
          <tr class="td_c">
            <td>{{order.contact_info.name}}</td>
            <td>{{order.contact_info.telephone}}</td>
            <td>{{order.contact_info.id_number}}</td>
          </tr>
        </tbody>
      </table>
     </div>
    <div class="h15"></div> 
     <!--乘客信息-->
     <div>
   <div class="tableh1"><span>乘客信息</span></div>
   <table class="tablelist">
        <thead>
          <tr>
              <th>序号</th>		  
		      <th>乘车人</th>
		      <th>身份证</th>
	      </tr>
        </thead>
        <tbody>
    {% for d in order.riders %}
    <tr class="td_c">
      <td>{{loop.index}}</td>
      <td>{{d.name}}</td>
      <td>{{d.id_number}}</td>
      </tr>
    {%endfor%}
        </tbody>
      </table>
     </div>
    <div class="h15"></div> 
     <!--会员信息-->
     <div>
     <div class="tableh1"><span>下单账户</span></div>
     <table class="tablelist">
        <tbody><tr>
          <th width="10%">第三方登录账户</th>
          <td width="20%">{{order.source_account}}</td>
          <th width="10%">账户密码</th>
          <td width="20%">{{order.source_account_pass}}</td>
          <th width="10%">绑定手机</th>
          <td width="20%">{{order.source_account}}</td>
        </tr>
        <tr>
          <th>DG账户</th>
          <td>{{order.kefu_username}}</td>
          <th>处理时间</th>
          <td>{{order.kefu_updatetime|format_datetime}}</td>
          <th>成功购票</th>
          <td>0 张</td>
        </tr>
      </tbody></table>
     </div>
    </div>
</body>
</html>
