<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{{url_for('static', filename='admin-new/css/style.css')}}" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="{{url_for('static', filename='admin-new/js/jquery.js')}}"></script>
<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>
</head>
<body style="background:#f0f9fd;">
<!--菜单一显示-->
<div class="lefttop"><span></span>订单管理</div>  
<dl class="leftmenu">
  <dd>
    <div class="title"><span><img src="{{url_for('static', filename='admin-new/images/leftico01.png')}}" /></span>车票订单</div>
    <ul class="menuson">
      <li class="active"><cite></cite><a href="{{url_for('admin.my_order')}}" target="rightFrame">我的订单</a><i></i></li>
      <li><cite></cite><a href="{{url_for('admin.all_order')}}" target="rightFrame">所有订单</a><i></i></li>
     </ul>    
  </dd>
</dl>  
</body>
</html>
