<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>车票订单--已完成订单</title>
    <link href="{{url_for('static', filename='admin-new/css/style.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='admin-new/css/select.css')}}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='admin-new/js/select-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin-new/js/datepicker/WdatePicker.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin-new/js/layer/layer.js')}}"></script>
    <script language="javascript">
        $(function (){
			//全选
			$("#checkall").checkall({ chname: "test[]", callback: function (e) { } });		

			$(".single-select").uedSelect({width : 240});
   
		//登录手动下单
			$('.btsize').on('click', function(){
				layer.open({
					type: 1,
					title: '登录手动下单',
					area: ['580px',''],
					skin: 'layui-layer-lan',
					moveType: 1, //拖拽风格，0是默认，1是传统拖动
					shift: 0, //0-6的动画形式，-1不开启
					content: "<div>" +$("#btsizebox").html()+"</div>"
				});
			});
			
			$('.J_close').on('click', function(){
				var is_switch = 0;
				var	_this = $(this);
				if(_this.attr('data-status')==0){
					is_switch = 1;
				}
				$.ajax({
					url : '/kefu_on_off',
					type : 'post',
					data : {
						is_switch : is_switch
					},
					success : function(data){
						if(data.status==0){
							alert('操作成功！');
							window.location.reload();
					    }
				    }
				});
			});
          })
        
          function disp_confirm(order_no)
		    {
			  var r=confirm('确定已支付?')
			  if (r==true)
			    {
			    $.ajax({
					url : '/kefu_complete',
					type : 'post',
					data : {
						 order_no:order_no
					},
					success : function(data){
						if(data.status==0){
							parent.location.reload();
					    }
				    }
				});
			    }
			  }

          function kefu_reflesh_order(order_no)
		    {
			    $.ajax({
					url : '/kefu_reflesh_order',
					type : 'post',
					data : {
						 order_no:order_no
					},
					success : function(data){
						if(data.status==0){
							window.location.href='/myorder';
					    }
				    }
				});
			  }

		  function run(){
			var s = document.getElementById("timeout");
			if(s.innerHTML == 0){
			   window.location.href='/myorder';
			   return false;
			}
			s.innerHTML = s.innerHTML * 1 - 1;
			}
			
			window.setInterval("run();", 1000);


		

		

    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
         <ul class="placeul">
            <li><a href="#">车票订单</a></li>
            <li><a href="#">我的订单</a></li>
        </ul>
    </div>

    <div class="formbody">
             <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">待处理订单</a></li>
                    <li><a href="/myorder?tab=tab2">已处理订单</a></li>                    
               </ul>
            </div>
   <!--查询条件-->
   <div class="tabson">
    <ul class="seachform">    
    <li>
      <label class="timecount">自动刷新，距离下次刷新还剩<em id = 'timeout'> 25</em> 秒</label>
    </li>
    <li  class="right"><label>&nbsp;</label>

    

	{% if  userObj.is_switch %}	
	 	<input name="" type="button" class="g_btn J_close" data-status="{{userObj.is_switch}}" value="暂停刷新"/>
	{% else %}	
	    <input name="" type="button" class="b_btn J_close" data-status="{{userObj.is_switch}}" value="开启刷新"/>
	{% endif %}

    </li>
    </ul>    
   </div>
   
   <div>
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>12308订单号</th>
        <th>下单/出发时间<i class="sort"><img src="{{url_for('static', filename='admin-new/images/px.gif')}}" /></i></th>
        <th>车次号/行程</th>
        <th>来自源网站</th>
        <th>订票数</th>
        <th>订单金额（元）</th>
        <th>订单状态</th>
        <th>操作</th> 		
        </tr>
        </thead>
        <tbody>
        {% for order in page["items"] %}
        <tr>
         <td>{{order.out_order_no}}</td>
         <td>{{order.create_date_time|format_datetime('%Y-%m-%d %H:%M:%S')}}<br>{{order.line.drv_date}} {{order.line.drv_time}}</td>
         <td>{{order.line.bus_num}}<br>{{order.line.starting.city_name}} --> {{order.line.destination.station_name}}</td>
         <td>{{source_msg[order.crawl_source]}}<br></td>
         <td>{{order.ticket_amount}}</td>
         <td class="m">{{order.order_price}}</td>
         <td class="color4">{{status_msg[order.status]}}</td>
         <td>
          <p><a href="#" class="btsize">立即支付</a></p>
          <p class="pt"><a href="#" class="tablelink mr10" onclick="kefu_reflesh_order({{order.order_no}})" >获取刷新</a>
          <a href="#" class="tablelink" onclick="disp_confirm({{order.order_no}})">已处理</a></p>
         </td>
        </tr> 
        {%endfor%}
        </tbody>
    </table>
    </div>
    </div>
    
    
   <!--登录提示
   <div class="tip">
    	<div class="tiptop"><span>登录提示</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>    
    </div>
   --> 
   
   <div id="btsizebox" style=" display:none">
   
   <div class="regbox_bd">
     <div class="signup_hd"><h2>选择登陆账号<span>账号登陆不进，直接<a>登陆官网</a></span></h2></div>
     <div class="signup_box">
        <form method="post" action="http://www.baidu.com" id="formPublic">
		<div class="pub-form reg-form">
         <div class="fm-li pbot-5">
          <span class="fm-label"><label for="txt_userName">我的账号：</label></span>
           <select name="levelName" id="levelName" datatype="*" sucmsg=" " class="single-select">
                <option value="2">1895545668(牧师)</option>
                <option value="2">Hn(牧师)</option>
                <option value="1">*WK(牧师)</option>
           </select>

        </div>
        
        <div class="fm-li pbot-5">
          <span class="fm-label"><label for="txt_input6">验证码：</label></span>
             <div class="code_box"><input value="" name="verifyCode" id="verifyCode" class="i-input w220" type="text"></div>
        </div>
        
        <div class="fm-li pbot-5">
          <span class="fm-label"></span>
             <span class="code_img"><img alt="" class="regimg" src="images/code.jpg" id="imgVerifyCode"></span>
        </div>
        
        <div class="fm-li">
          <span class="fm-label"><label for="txt_input6"></label></span>
          <input name="" value="提交订单" class="btn_login" id="btn_submit" type="button">
          </div>
          
        </div>
        </form>
        </div>
        <p class="signup_bot">正在尝试下单，来着12308汽车票</p> 
	
  </div>
   </div>
</body>
















</html>
