<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的订单</title>
    <link href="{{url_for('static', filename='admin-new/css/style.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='admin-new/css/select.css')}}" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{{url_for('static', filename='admin-new/js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='admin-new/js/select-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin-new/js/datepicker/WdatePicker.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='admin-new/js/layer/layer.js')}}"></script>
    <script language="javascript">
        $(function (){
			//全选
			$("#checkall").checkall({ chname: "test[]", callback: function (e) { } });

			$(".single-select").uedSelect({width : 240});
			$('.J_close').on('click', function(){
				var is_switch = 0;
				var	_this = $(this);
				if(_this.attr('data-status')==0){
					is_switch = 1;
          run();
        }
				$.ajax({
					url : '/kefu_on_off',
					type : 'post',
					data : {
						is_switch : is_switch
					},
					success : function(data){
						if(data.status==0){
              set_switch(data["is_switch"]);
              load_orders();
					    }
				    }
				});
			  });
       })

  function disp_confirm(order_no)
         {
               var r=confirm('确定已支付?')
               if (r==true)
                 {
                 $.ajax({
                             url : '/kefu_complete',
                             type : 'post',
                             data : {
                                      order_no:order_no
                             },
                             success : function(data){
                                     if(data.status==0){
                                             parent.location.reload();
                                 }
                         }
                     });
                 }
               }


	    function run(){
              load_orders();
           }
        window.setInterval("run();", 3000);
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
         <ul class="placeul">
            <li><a href="#">车票订单</a></li>
            <li><a href="#">我的订单</a></li>
        </ul>
    </div>

    <div class="formbody">
             <div class="itab" >
                <ul id='itab'>
                    <li><a href="#tab1" class="selected"  >待处理订单</a></li>
                    <!-- <li><a href="#tab2" >已处理订单</a></li>  -->
               </ul>
            </div>
   <!--查询条件-->
   <div id='tab2' class="tabson2">
   <div id='tab1' class="tabson">
    <ul class="seachform">
    <li>
    <!-- <label class="timecount">自动刷新，距离下次刷新还剩<em id = 'timeout'>3</em> 秒</label> -->
    </li>

    <li  class="right"><label>&nbsp;</label>
	 	  <input  id="switch_button" name="" type="button" class="b_btn J_close" data-status="1" value="开始接单"/>
    </li>
    </ul>
   </div>

    <div id="wating-deal-table">
    </div>
    </div>
<script languge="javascript">

$(function (){
  load_orders();
  set_switch({{current_user.is_switch}});
});

function load_orders(){
  $("#wating-deal-table").load("{{url_for('admin.wating_deal_order')}}"+"?dc="+new Date().getTime());
}

function set_switch(i){
    var cls="g_btn J_close";
    var v="1";
    var text = "结束接单"
    if(i==0){
      cls="b_btn J_close";
      v="0";
      text = "开始接单"
    }
    $("#switch_button").attr("class", cls);
    $("#switch_button").attr("data-status", v);
    $("#switch_button").val(text);
}
</script>
</body>
</html>
