<table class="tablelist">
    <thead>
    <tr>
    <th>系统/12308订单号</th>
    <th>下单/出发时间<i class="sort"><img src="{{url_for('static', filename='admin-new/images/px.gif')}}" /></i></th>
    <th>车次号/行程</th>
    <th>来自源网站</th>
    <th>订票数</th>
    <th>订单金额（元）</th>
    <th>订单状态</th>
    <th>操作</th> 		
    </tr>
    </thead>
    <tbody>
    {% for order in page["items"] %}
    <tr>
        <td>{{order.order_no}} </br> {{order.out_order_no}}</td>
     <td>{{order.create_date_time|format_datetime('%Y-%m-%d %H:%M:%S')}}<br>{{order.drv_datetime|format_datetime('%Y-%m-%d %H:%M:%S')}}</td>
     <td>{{order.bus_num}}<br>{{order.starting_name.split(';')[0]}} -- {{order.destination_name.split(';')[1]}}</td>
     <td>{{source_info[order.crawl_source]["name"]}}<br></td>
     <td>{{order.ticket_amount}}</td>
     <td class="m">{{order.order_price}}</td>
     <td class="color4">{{status_msg[order.status]}}</td>
     <td>
       <p>
       {% if order.crawl_source == "scqcp" %}
       <a href="{{url_for('admin.order_pay', order_no=order.order_no)}}?channel=alipay" class="btsize payclick" data-expire="{{expire_seconds[order.order_no]}}">立即支付</a>
       {%else%}
       <a href="{{url_for('admin.order_pay', order_no=order.order_no)}}?channel=alipay" class="btsize payclick" data-expire="{{expire_seconds[order.order_no]}}">立即支付</a> 
       {%endif%}
       </p>
       <p class="pt">
         <a href="#" class="tablelink" onclick="disp_confirm({{order.order_no}})">已处理</a>
       </p>
     </td>
    </tr>
    {%endfor%}
    <tr style="height: 50px; border: 1px solid #ccc">
        <td colspan="8" style="font-size: 16px" align="middle">
            {% for k, v in dealed_count.items() %}
            {{k}}: <span style="color: red; font-size:20px"> {{v}}</span>
            {%endfor%}
        </td>
    </tr>
    {% for order in not_issued %}
    <tr>
     <td>{{order.order_no}} </br> {{order.out_order_no}}</td>
     <td>{{order.create_date_time|format_datetime('%Y-%m-%d %H:%M:%S')}}<br>{{order.drv_datetime|format_datetime('%Y-%m-%d %H:%M:%S')}}</td>
     <td>{{order.bus_num}}<br>{{order.starting_name.split(';')[0]}} -- {{order.destination_name.split(';')[1]}}</td>
     <td>{{source_info[order.crawl_source]["name"]}}<br></td>
     <td>{{order.ticket_amount}}</td>
     <td class="m">{{order.order_price}}</td>
     <td class="color5">{{status_msg[order.status]}}</td>
     <td>
     </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

<script languge="javascript">
$(function (){
  $(".payclick").each(function(index,element){
    var t = $(this).attr("data-expire");
    if(t>0){
      $(this).attr("href", "#");
      $(this).addClass("btgray");
    }
    else{
      $(this).attr("target", "_blank");
    }
  });

 $(".payclick").click(function(){
     $(this).addClass("btgray");
  });

});
</script>
