<div id="wating-deal-table1">
{%if current_user.is_close %}
	<center><span style="color: red; font-size:30px;">账号长时间未处理订单，账号已经关闭，请联系技术支持</span></center>
{%elif is_warn %}
	<center><span style="color: red; font-size:30px;">长时间不处理订单,账号将关闭</span></center>	
{% endif %}	
</div>



<table class="tablelist">
    <thead>
    <tr>
    <th>系统/12308/源站订单号</th>
    <th>创建/下单/出发时间<i class="sort"><img src="{{url_for('static', filename='admin-new/images/px.gif')}}" /></i></th>
    <th>车次号/行程</th>
    <th>来自源网站</th>
    <th>订票数</th>
    <th>订单金额（元）</th>
    <th>订单状态</th>
    <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for order in page["items"] %}
    <tr>
     <td>{{order.order_no}}</br>{{order.out_order_no}}</br>{{order.raw_order_no}}</td>
     <td>{{order.create_date_time|format_datetime}}</br>{{order.lock_datetime|format_datetime}}</br>{{order.drv_datetime|format_datetime}}</td>
     <td>{{order.bus_num}}<br>{{order.starting_name.split(';')[0]}} - {{order.destination_name.split(';')[0]}}</br>{{order.starting_name.split(';')[1]}} - {{order.destination_name.split(';')[1]}}</td>
     <td>{{source_info[order.crawl_source]["name"]}}<br>{{order.source_account}}</br>{{order.source_account_pass}}</td>
     <td>{{order.ticket_amount}}</td>
     <td class="m">{{order.order_price}}</td>
     <td class="color4">{{status_msg[order.status]}}</td>
     <td>
       <p>
       <a href="{{url_for('admin.order_pay', order_no=order.order_no)}}?channel=alipay&bank=" class="btsize payclick" data-expire="{{locking[order.order_no]}}">立即支付</a> 
       </p>
       <p class="pt">
         <a href="#" class="tablelink" onclick="disp_confirm({{order.order_no}})">已处理</a>
         &nbsp;&nbsp;
         <a href="#" class="tablelink" onclick="transfer_kefu({{order.order_no}})">转移</a>
       </p>
     </td>
    </tr>
    {%endfor%}
    <tr style="height: 50px; border: 1px solid #ccc">
        <td colspan="8" style="font-size: 16px" align="middle">
            {% for k, v in dealed_count.items() %}
            {{k}}: <span style="color: red; font-size:20px"> {{v}}</span>
            {%endfor%}
        </td>
    </tr>
    {% for order in not_issued %}
    <tr>
     <td>{{order.order_no}}</br>{{order.out_order_no}}</br>{{order.raw_order_no}}</td>
     <td>{{order.create_date_time|format_datetime}}</br>{{order.lock_datetime|format_datetime}}</br>{{order.drv_datetime|format_datetime}}</td>
     <td>{{order.bus_num}}<br>{{order.starting_name.split(';')[0]}} - {{order.destination_name.split(';')[0]}}</br>{{order.starting_name.split(';')[1]}} - {{order.destination_name.split(';')[1]}}</td>
     <td>{{source_info[order.crawl_source]["name"]}}<br></td>
     <td>{{order.ticket_amount}}</td>
     <td class="m">{{order.order_price}}</td>
     <td class="color5">{{status_msg[order.status]}}</td>
     <td>
     </td>
    </tr> {%endfor%}
    </tbody>
</table>

<script languge="javascript">
$(function (){
  $(".payclick").each(function(index,element){
    var t = $(this).attr("data-expire");
    if(t>0){
      $(this).attr("href", "#");
      $(this).addClass("btgray");
      $(this).text("正在锁票...")
    }
    else{
      $(this).attr("target", "_blank");
    }
  });

 $(".payclick").click(function(){
     $(this).addClass("btgray");
  });

});
</script>
