{% extends 'base.html' %}

{% block static_top %}
    <!-- Bootstrap -->
    <link href="{{static_url('css/styles.css')}}" rel="stylesheet">
    <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="{{static_url('css/jquery-ui.css')}}" rel="stylesheet" media="screen">
    <!-- styles -->
    <link href="{{static_url('css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{static_url('vendors/form-helpers/css/bootstrap-formhelpers.min.css')}}" rel="stylesheet">
    <link href="{{static_url('vendors/select/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{static_url('vendors/tags/css/bootstrap-tags.css')}}" rel="stylesheet">

    <link href="{{static_url('css/forms.css')}}" rel="stylesheet">
	<link href="{{static_url('css/fileinput.min.css')}}" media="all" rel="stylesheet" type="text/css" />

{%end%}

{%block body%}
<div class="row">
<div class="col-md-12">
<div class="content-box-large">
	<div class="panel-heading">
		<div class="panel-title">Form</div>
	  
		<div class="panel-options">
		  <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
		  <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
		</div>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="/{{to_lower(item.__class__.__name__)}}s{%if item.id%}/{{item.id}}{%end%}" method="post" enctype='multipart/form-data'>

		{%block form%}
		{%end%}

		<div class="row">
			<div class="form-group col-md-12">
				<div class="col-sm-offset-5" >
				<!-- <button class="btn btn-default" type="submit">Cancel</button> -->
				  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i> 保存</button>
				</div>
			</div>
		</div>
		
		</form>
	</div>
</div>
</div>
</div>
{%block otherpanel%}
{%end%}

{%end%}

{% block static_bottom%}
	
    <script src="{{static_url('js/jquery.js')}}"></script>
	<script src="{{static_url('js/fileinput.min.js')}}"></script>
    <!-- jQuery UI -->
    <script src="{{static_url('js/jquery-ui.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_url('bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('vendors/form-helpers/js/bootstrap-formhelpers.min.js')}}"></script>
    <script src="{{static_url('vendors/select/bootstrap-select.min.js')}}"></script>
    <script src="{{static_url('vendors/tags/js/bootstrap-tags.min.js')}}"></script>
    <script src="{{static_url('vendors/mask/jquery.maskedinput.min.js')}}"></script>
    <script src="{{static_url('vendors/moment/moment.min.js')}}"></script>
    <script src="{{static_url('vendors/wizard/jquery.bootstrap.wizard.min.js')}}"></script>
     <link href="{{static_url('vendors/bootstrap-datetimepicker/datetimepicker.css')}}" rel="stylesheet">
     <script src="{{ static_url('vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js')}}"></script> 
    <link href="{{static_url('css/bootstrap-editable.css')}}" rel="stylesheet"/>
	<script src="{{static_url('js/bootstrap-editable.min.js')}}"></script>

    <script src="{{static_url('js/forms.js')}}"></script>
{%end%}

{% block script %}
{%end%}

