{% extends 'admin/list.html' %}

{% block content%}

<div class="row">
  <div class="col-xs-4">
    <div class="dataTables_filter" id="example_filter">
      <label>线路ID: <input type="text" id="in_lineid" value="{{line_id}}" onchange="search()"></label>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="dataTables_filter" id="example_filter">
      <label>出发地: <input type="text" id="in_starting" value="{{starting}}" onchange="search()"></label>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="dataTables_filter" id="example_filter">
      <label>目的地: <input type="text" id="in_dest" value="{{destination}}" onchange="search()"></label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="dataTables_filter" id="example_filter">
      <label>开车日期: <input type="text" id="in_drvdate" value="{{drv_date}}" onchange="search()"></label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="dataTables_filter" id="example_filter">
      <label>爬取来源: <input type="text" id="in_crawlsource" value="{{crawl_source}}" onchange="search()"></label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4"><div class="dataTables_info" id="example_info">总共 {{page.total}} 条线路</div></div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="example">

<thead>
	<tr role="row">
	<th class="sorting_asc" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 137px;">线路ID</th>
	<th class="sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 204px;">出发地</th>
	<th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 197px;">目的地</th>
	<th class="sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 120px;">开车时间</th>
	<th class="sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 120px;">班次/车次</th>
	<th class="sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 120px;">票价,手续费</th>
	<th class="sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 120px;">爬取来源/时间</th>
	</tr>
</thead>

<tbody role="alert">
	{% for line in page["items"] %}
		<tr class="gradeA {{i}}">
			<td class="center">{{line.line_id}}</td>
            <td class="center">{{line.s_city_name}}</br>{{line.s_sta_name}}</td>
            <td class="center">{{line.d_city_name}}</br>{{line.d_sta_name}}</td>
            <td class="center">{{line.drv_date}}</br>{{line.drv_time}}</td>
            <td class="center">{{line.shift_id}}</br>{{line.bus_num}}</td>
            <td class="center">票价:{{line.full_price}}元</br> 手续费{{line.fee}}元</td>
            <td class="center">{{line.crawl_source}}/{{line.refresh_datetime|format_datetime('%Y-%m-%d %H:%M:%S')}}</td>
		</tr>
	{%endfor%}
</tbody>
</table>
{%endblock%}

{% block script %}
<script languge="javascript">
function search(){
  var params = [
    "line_id="+$("#in_lineid").val(),
    "starting="+$("#in_starting").val(),
    "destination="+$("#in_dest").val(),
    "crawl_source="+$("#in_crawlsource").val(),
    "drv_date="+$("#in_drvdate").val(),
  ]
  var url = "{{page.req_path2}}";
  window.location.href = url+params.join("&");
};
</script>
 {%endblock%}

