{% extends 'admin/edit.html' %}

{%block form%}
<div class="row">
  <div class="form-group col-sm-6">
	<label class="col-sm-2 control-label">ID</label>
	<div class="col-sm-10">
	  <input type="text" name="id" value="{{item.id}}" class="form-control" readonly="true">
	</div>
  </div>
  <div class="form-group col-sm-6">
	<label class="col-sm-2 control-label">电话号码</label>
	<div class="col-sm-10">
	  <input type="text" name="telephone" value="{{item.telephone}}" class="form-control" placeholder="Telephone" autocomplete="off">
	</div>
  </div>
 </div>

 <div class="row">
  <div class="form-group col-sm-6">
	<label for="inputPassword3" class="col-sm-2 control-label">密码</label>
	<div class="col-sm-10">
	  <input type="password" name="password" value="{{item.password}}" class="form-control" id="inputPassword3" placeholder="Password" autocomplete="off">
	</div>
  </div>
  <div class="form-group col-sm-6">
	<label class="col-sm-2 control-label">昵称</label>
	<div class="col-sm-10">
	  <input type="text" name="nickName" value="{{item.nickName}}" class="form-control" placeholder="">
	</div>
  </div>
  </div>

	<div class="row">
	<div class="form-group col-sm-6">
		<label class="col-md-2 control-label" for="select-1">性别</label>
		<div class="col-md-10">
			<select name="sex" value="{{item.sex}}" class="form-control" id="select-1">
				<option value="xx" selected >男</option>
			</select> 
		</div>
	</div>
  <div class="form-group col-sm-6">
	<label class="col-sm-2 control-label">星座</label>
	<div class="col-sm-10">
	  <input type="text" name="constel" value="{{item.constel}}" class="form-control" placeholder="">
	</div>
  </div>
  </div>
  
  <div class="row">
  <div class="form-group col-sm-6">
	<label class="col-md-2 control-label">生日</label>
	<div class="bfh-datepicker" data-format="y-m-d" data-date="'today'" data-name="birthday"></div>
  </div>
  <div class="form-group col-sm-6">
	<label class="col-sm-2 control-label">地区</label>
	<div class="col-sm-10">
	  <input type="text" name="location" value="{{item.location}}" class="form-control" placeholder="">
	</div>
  </div>
  </div>

<div class="row">
  <div class="form-group col-sm-6">
	<label class="col-md-2 control-label">头像</label>
	<div class="col-md-10">
		<input type="hidden" name="photo" value="{{item.photo}}"/>
		<input id="photo_file" name="photo_file" type="file" class="file" maxFileSize=100 data-show-upload="false">
	</div>
</div>
  <div class="form-group col-sm-6">
	<label class="col-md-2 control-label">头像模糊</label>
	<div class="col-md-10">
		<input type="hidden" name="photoBlur" value="{{item.photoBlur}}"/>
		<input id="photoBlur_file" name="photoBlur_file" type="file" class="file" data-show-upload="false" readonly="true">
		<p class="help-block">
		</p>
	</div>
 </div>
 </div>

{%endblock%}

{% block script %}
<script>
$("#photo_file").fileinput({
	"initialPreview": [
		{% if item.photo %}
        "<img src='{{media_url(item.photo)}}' class='file-preview-image'>",
		{% endif %}

    ],
	"maxFileSize": 500,
	'allowedFileExtensions' : ['jpg', 'png','gif'],
});
$("#photoBlur_file").fileinput({
	"initialPreview": [
		{% if item.photo %}
        "<img src='{{media_url(item.photoBlur)}}' class='file-preview-image'>",
		{% endif %}
    ],
});
</script>
{%endblock%}
